.alert-success, .alert-error{
    width: 144mm;
    height: 25px;
    text-align: center;
    display: flex;
  flex-direction: column;
  align-items: center;



}

.alert-success {
    background-color: lightgreen;
    border-color: black;
    display: flex;
    justify-items: baseline;
}
.alert-error {
    background-color: red;
    border-color: black;

}