.navbar{
   
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.logo{
    width: 150px;
}

.ul-list {
    padding: 0%;

}
.navbar-links-main{
    margin: 0%;
    font-size: 18px;
    padding-left: 0px;
    padding-right: 30px;
    text-decoration: none;
    color: rgb(73, 72, 72);
    font-weight: bold;
    
}

.navbar-links-addProps{
    font-size: 18px;
    color: rgb(73, 72, 72);
    font-weight: bold;
}

.login-button {
    /* display: block; */
    font-weight: bold;
align-self: center;

}