.property-card {
font-weight: bold;
  background-color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: rgb(241, 237, 237) solid;
  font-size: 15px;
  text-align: center;
  border-radius: 5%;

}

.title{
  background-color: rgb(37, 37, 71);
  color: white;
  padding: 1%;
}

.city {
  padding: 1%;
}

.type {
  padding: 1%;
}

.bedrooms {
  padding: 1%;
}

.bathrooms {
  padding: 1%;
}

.price {
  padding: 1%;
}

a{
  color: black;
}

.email {
    padding: 5px;
    background-color: #6aebd3;
    font-weight: bold;
}


.save {
  text-align: center;
  background-color: rgb(37, 37, 71);
  color: white;
  padding: 1%;
}

