.sidebar {
    display: flex;
    flex-direction: column;
background-color: white;
width: 150px;
 position: fixed;
height: 100%;
border: solid black;
}

.sidebar-ul-city {
 display: flex; 
 flex-direction: column;
 align-items: flex-start;
 padding: 5%;
}

.sidebar-ul-sort {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
   }

   .search-input {
      width: 30mm;
   }

   button {
       padding: 0px;
       margin: 4px;
   }
